In [8]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
%matplotlib inline

In [9]:
data = pd.read_csv('Indicators.csv')

In [10]:
import folium

In [11]:
data.tail()

,CountryName,CountryCode,IndicatorName,IndicatorCode,Year,Value
5656453,Zimbabwe,ZWE,Time required to register property (days),IC.PRP.DURS,2015,36.0
5656454,Zimbabwe,ZWE,Time required to start a business (days),IC.REG.DURS,2015,90.0
5656455,Zimbabwe,ZWE,Time to prepare and pay taxes (hours),IC.TAX.DURS,2015,242.0
5656456,Zimbabwe,ZWE,Time to resolve insolvency (years),IC.ISV.DURS,2015,3.3
5656457,Zimbabwe,ZWE,Total tax rate (% of commercial profits),IC.TAX.TOTL.CP.ZS,2015,32.8

In [29]:
data.IndicatorName[:50]

0     Adolescent fertility rate (births per 1,000 wo...
1     Age dependency ratio (% of working-age populat...
2     Age dependency ratio, old (% of working-age po...
3     Age dependency ratio, young (% of working-age ...
4           Arms exports (SIPRI trend indicator values)
5           Arms imports (SIPRI trend indicator values)
6                  Birth rate, crude (per 1,000 people)
7                                    CO2 emissions (kt)
8                CO2 emissions (metric tons per capita)
9     CO2 emissions from gaseous fuel consumption (%...
10    CO2 emissions from liquid fuel consumption (% ...
11      CO2 emissions from liquid fuel consumption (kt)
12    CO2 emissions from solid fuel consumption (% o...
13                 Death rate, crude (per 1,000 people)
14             Fertility rate, total (births per woman)
15                        Fixed telephone subscriptions
16       Fixed telephone subscriptions (per 100 people)
17                     Hospital beds (per 1,000 people)
18        International migrant stock (% of population)
19                   International migrant stock, total
20             Life expectancy at birth, female (years)
21               Life expectancy at birth, male (years)
22              Life expectancy at birth, total (years)
23                    Merchandise exports (current US$)
24    Merchandise exports by the reporting economy (...
25    Merchandise exports by the reporting economy, ...
26    Merchandise exports to developing economies in...
27    Merchandise exports to developing economies in...
28    Merchandise exports to developing economies in...
29    Merchandise exports to developing economies in...
30    Merchandise exports to developing economies in...
31    Merchandise exports to developing economies ou...
32    Merchandise exports to developing economies wi...
33    Merchandise exports to economies in the Arab W...
34    Merchandise exports to high-income economies (...
35                    Merchandise imports (current US$)
36    Merchandise imports by the reporting economy (...
37    Merchandise imports by the reporting economy, ...
38    Merchandise imports from developing economies ...
39    Merchandise imports from developing economies ...
40    Merchandise imports from developing economies ...
41    Merchandise imports from developing economies ...
42    Merchandise imports from developing economies ...
43    Merchandise imports from developing economies ...
44    Merchandise imports from developing economies ...
45    Merchandise imports from economies in the Arab...
46    Merchandise imports from high-income economies...
47                         Merchandise trade (% of GDP)
48                        Mobile cellular subscriptions
49       Mobile cellular subscriptions (per 100 people)
Name: IndicatorName, dtype: object

In [12]:
# select CO2 emissions for all countries in 2011
hist_indicator =  'Life expectancy at birth'
hist_year = 2013

mask1 = data['IndicatorName'].str.contains(hist_indicator) 
mask2 = data['Year'].isin([hist_year])

# apply our mask
stage = data[mask1 & mask2]
stage.head()

,CountryName,CountryCode,IndicatorName,IndicatorCode,Year,Value
5377669,Arab World,ARB,"Life expectancy at birth, female (years)",SP.DYN.LE00.FE.IN,2013,72.536117
5377670,Arab World,ARB,"Life expectancy at birth, male (years)",SP.DYN.LE00.MA.IN,2013,68.848383
5377671,Arab World,ARB,"Life expectancy at birth, total (years)",SP.DYN.LE00.IN,2013,70.631305
5378129,Caribbean small states,CSS,"Life expectancy at birth, female (years)",SP.DYN.LE00.FE.IN,2013,74.757382
5378130,Caribbean small states,CSS,"Life expectancy at birth, male (years)",SP.DYN.LE00.MA.IN,2013,69.183365

In [32]:
data.Year.unique()

array([1960, 1961, 1962, 1963, 1964, 1965, 1966, 1967, 1968, 1969, 1970,
       1971, 1972, 1973, 1974, 1975, 1976, 1977, 1978, 1979, 1980, 1981,
       1982, 1983, 1984, 1985, 1986, 1987, 1988, 1989, 1990, 1991, 1992,
       1993, 1994, 1995, 1996, 1997, 1998, 1999, 2000, 2001, 2002, 2003,
       2004, 2005, 2006, 2007, 2008, 2009, 2010, 2011, 2012, 2013, 2014,
       2015], dtype=int64)

In [13]:
data_to_plot = stage[['CountryCode','Value']]
data_to_plot.head()

        CountryCode      Value
5377669         ARB  72.536117
5377670         ARB  68.848383
5377671         ARB  70.631305
5378129         CSS  74.757382
5378130         CSS  69.183365

In [14]:
hist_indicator = stage.iloc[0]['IndicatorName']

In [15]:
map = folium.Map(location=[100, 0], zoom_start=1.5)

In [16]:
map.choropleth(geo_data=country_geo, data=data_to_plot,
             columns=['CountryCode', 'Value'],
             key_on='feature.id',
             fill_color='YlGnBu', fill_opacity=0.7, line_opacity=0.2,
             legend_name=hist_indicator)

In [17]:
country_geo = 'world-countries.json'

In [18]:
map.save('plot_data.html')

In [19]:
from IPython.display import HTML
HTML('<iframe src=plot_data.html width=700 height=450></iframe>')